* {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  line-height: 150%;
}

footer {
  background-color: #4d4d4d;
  color: white;
  margin-top: 20px;
}

.footer-area {
  display: flex;
  padding: 30px 0;
}

.footer-element {
  flex-grow: 1;
  flex-basis: 0;
  margin:auto;
}

.copyright p{
  text-align:center;
  font-size: 0.8rem;
}
.footer-nav {
  text-align: right;
}

.footer-nav a {
  margin: 0 20px;
  font-size: 0.8rem;
}

.footer-nav a:link, .footer-nav a:visited, .footer-nav a:hover {
  color: white;
  text-decoration: none;
}

.footer-nav a:hover {
  color: white;
  text-decoration: underline;
}

footer img {
  height: 50px;
}

.fixed-width {
  width: 1000px;
  margin: auto;
}

header {
  height: 80px;
  display: flex;
}

header a, header a img {
  height: auto;
  width: 250px;
  margin-top: auto;
  margin-left: 15px;
}

header nav {
  flex-grow: 1;
  text-align: right;
  margin: auto;
  font-weight:bold;
  margin-right: 30px;
}

header nav a {
  margin: 0 30px;
}

header nav a:visited, header nav a:link, header nav a:hover {
  color: black;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
}

.headline {
  display: flex;
  text-align: left;
  margin-left: 30px;
}

.headline * {
  margin-top: auto;
  margin-bottom: auto;
}

.headline a {
  flex-grow: 1;
  text-align: right;
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 120%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

h2 {
  font-size: 1.3rem;
  margin-left: 30px;
}
h3{
  margin-left: 30px;
}
h4{
  margin-left: 30px;
}

button {
  padding: 10px 50px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border-color: black;
}

button:hover {
  color: white;
  background-color: #EA1F25;
  cursor: pointer;
  border: solid;
  border-color: black;
  border-width: 2px;
}

p {
  margin-left: 30px;
}