form input{
  width:120px;
}

label {
  font-weight: bold;
}

form div {
  margin-bottom: 30px;
}

form div p {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 0.9rem;
}

input {
  padding: 5px;
}

.action-buttons{
  display:flex;
  justify-content: center;
  margin-bottom: 50px;
}

#cancel-btn, #save-btn{
  width:250px;
}

.action-buttons div{
  padding:0px 20px;
}

#cancel-btn{
  background-color: inherit;
  color:black;
}

#cancel-btn:hover{
    background-color: #EA1F25;
    border: solid;
    border-color: black;
    border-width: 2px;
}