.list-entries {
  padding: 0;
}

.list-entries li:nth-child(even) {
  background-color: lightgray;
}

.list-entries li:first-of-type{
  background-color: #EA1F25;
  color: white;
}
.list-entries li {
  display: flex;
  padding: 20px 0;
}

.list-entries img {
  width: 50px;
  height: 100%;
}

.list-entries p {
  margin: 0;
}

.list-entries div {
  padding: 5px 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.entry-date {
  width: 35%;
  display: flex;
  margin:auto;
  font-weight: bold;
  justify-content: center;
}

.entry-count {
  width: 25%;
  display: grid;
  margin: auto;
  font-weight: bold;
  grid-template-columns: auto auto;
  justify-content: start;
  justify-items: center;
  
}

.entry-calc {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.entry-delete {
  width: 10%;
  margin: auto;
}

.entry-date img, 
.entry-date p{
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  padding: 0 10px;
}
.entry-count img,
.entry-count p{
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  padding: 0px 5px;
}

.entry-delete img{
  width: 30px;
}


.entry-calc-kWh{
  font-weight: bold;
}
.entry-calc-period{
  font-style: italic;
}

.first-row{
  background-color: #EA1F25;
  color: white;
}

#last-row{
  padding-top: 20px;
}